{% extends base.html %}

{% block title %}Edit account{% endblock %}

{% block css %}
<link href="public/static/css/login.css" rel="stylesheet">


{% endblock %}

{% block js %}
<script src="public/static/js/edit_account.js"></script>


{% endblock %}

{% block content %}
<div class="signup-container">
    <form class="form-sign" method="post">
        <div class="form-group">
            <h1 class="h3 mb-3 font-weight-normal">Edit account</h1>

            <label for="inputEmail" class="sr-only">Email address</label>
            <input name="email" value='{{ $author["email"]}}' type="email" id="inputEmail" class="form-control mt-2" placeholder="Email address"
                   required>

            <label for="inputPassword" class="sr-only">Password</label>
            <input name="password" type="password" id="inputPassword" class="form-control mt-2" placeholder="Password">

            <label for="inputPassword" class="sr-only">Password</label>
            <input name="password2" type="password" id="inputPassword2" class="form-control mt-2"
                   placeholder="Repeat password">

            <label for="inputNum" class="sr-only">Numero di telefono</label>
            <input name="telephone_number" value='{{ $author["telephone_num"]}}' type="text" id="inputNum" class="form-control mt-2"
                   placeholder="Telephone number" required>

            <div class="input-group mt-2">
                <input name="num_document" value='{{ $author["num_document"]}}' type="text" id="DocNum" class="form-control" placeholder="Document number"
                       required>
                <span class="input-group-btn ml-2 p-0">
                    <select name="type_document" class="form-control m-0 h-100">
                        <option value="patente" {% if($author["type_document"]=="patente"): %} selected {% endif %}>Patente di guida</option>
                        <option value="passaporto" {% if($author["type_document"]=="passaporto"): %} selected {% endif %}>Passaporto</option>
                        <option value="carta_identita" {% if($author["type_document"]=="carta_identita"): %} selected {% endif %}>Carta identità</option>
                    </select>
                </span>
            </div>
            <div class="mt-3"><h3 id="error_message" class="text-danger">{{ $error }}</h3></div>
            <button id="btn_submit" class="btn btn-lg btn-primary btn-block mt-4" type="submit">Save</button>
        </div>
    </form>
</div>
{% endblock %}